
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CF0F47;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #000000;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #FF0B55;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 60vw;
  color: #fff;
}
.todo-input-select{
  outline: none;
  background: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 10vw;
  color: #fff;

}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #FF0B55;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FF0B55;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #FFDEDE;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
.task{
    display: flex;
    flex-direction: row;
}

.progress-container {
  width: 100%;
  background-color: #FFDEDE;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #FF0B55;
  color: black;
  text-align: center;
  line-height: 20px;
  transition: width 0.3s ease;
}

.progress{
  padding: 2px;
}